<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,tr,td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>customername</th>
            <th>product</th>
            <th>price</th>
            <th>address</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {% for d in da %}
        <tr>
            <td>{{ d.csname }}</td>
            <td>{{ d.product }}</td>
            <td>{{ d.price }}</td>
            <td>{{ d.add }}</td>
            <td><a href="{% url 'orderup' d.id %}">edit</a></td>
            <td><a href="{% url 'dele' d.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>